@import './Base.module.scss';

.container {
    width: 100vw;
    height: 100vh;
    background: $background;
}

.main {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-top: 5%;
        font-size: calc(1rem + 0.5vw);
        color: $text-light;
        font-family: 'Mulish';
        font-weight: 700;
        text-align: justify;
    }

    span {
        color: $highlight;
    }
}

.skills_group {
    width: 80%;
    height: 80%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .row {
        width: 100%;
        max-width: calc(90% - 1rem);
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .skill {
            width: calc(250px - 1vw);
            height: calc(270px - 1vh);
            margin: 0 2% 7% 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: calc(30px - 1vw);
            box-shadow: 0 0 calc(25px - 1vw) 0 $text-light;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0 0 calc(25px - 1vw) 0 $secondary;
                transform: scale(1.05);
            }
            
            .skill_icon {
                width: calc(150px - 1vw);
                height: calc(150px - 1vh);
                color: $text-light;
            }

            &:hover::before {
                content: 'Clique para ver mais';
                color: $text-dark;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: calc(.5rem + 0.5vw);
                font-family: 'Mulish';
                font-weight: 700;
                background: rgba($color: $secondary, $alpha: .9);
                border-radius: calc(30px - 1vw);
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

}