@import '../../pages/styles/Base.module.scss';

.title {
    color: $text-light;
    font-family: 'Rubik';
    font-size: calc(2.5rem + 0.5vw);
}

.title span {
	color: $highlight;
}

.cursor {
	display: inline-block;
	background-color: #ccc;
	margin-left: 0.05vw;
	width: .2vw;
	animation: blink .6s infinite;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  50% { background-color: transparent; }
  90% { background-color: #ccc; }
}